# Pandas

Pandas has two main components, Series (1d) and DataFrames (nd).


The DataFrame automatically creates a numeric index for each row.

We can specify a custom index, when creating the DataFrame:


**Functions**

Pandas `pd.function()`
- DataFrame()

Dataframes `x.function`
- `loc[]`
- `iloc[]`

In [20]:
import pandas as pd

## DataFrame

In [21]:
data = {
   'ages': [14, 18, 24, 42],
   'heights': [165, 180, 176, 184]
} 

df = pd.DataFrame(data)
df

   ages  heights
0    14      165
1    18      180
2    24      176
3    42      184

In [22]:
df = pd.DataFrame(data, index=['James', 'Bob', 'Amy', 'Dave'])
df

       ages  heights
James    14      165
Bob      18      180
Amy      24      176
Dave     42      184

## Filtering

By rows or by columns

In [23]:
df.loc[['Bob', 'Amy']]

     ages  heights
Bob    18      180
Amy    24      176

In [24]:
df.iloc[1:3]

     ages  heights
Bob    18      180
Amy    24      176

In [15]:
df[['ages', 'heights']]

       ages  heights
James    14      165
Bob      18      180
Amy      24      176
Dave     42      184

### Conditions

In [28]:
# we can save it in a variable
y = (df['ages'] > 18) & (df['heights'] > 180)

# or slicing it directly
df[(df['ages'] > 18) & (df['heights'] > 180)]

df[y]
y

James    False
Bob      False
Amy      False
Dave      True
dtype: bool